<div class="container">
  <div class="row">

    <div class="col-sm-3"></div>

    <div class="col-sm-6 p-3">
      <h2 class="mb-5">Edit Book</h2>
      <%= form_tag("/book/update/#{@book.id}") do %>
        <div class="mb-3">
          <label for="author" class="form-label">Book Author</label>
          <input value="<%= @book.book_author %>" type="text" class="form-control" name="book_author" id="book_author" required>
        </div>
        <div class="mb-3">
          <label for="published" class="form-label">Year Published</label>
          <input value="<%= @book.book_published %>" type="text" class="form-control" name="book_published" id="book_published" aria-describedby="publishedHelp" required>
          <div id="publishedHelp" class="form-text">What year the book is first published. Example: 1802</div>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Book Title</label>
          <input value="<%= @book.book_title %>" type="text" class="form-control" name="book_title" id="book_title" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Book Description</label>
          <textarea type="text" class="form-control" name="book_description" id="book_description" required><%= @book.book_description %></textarea>
        </div>

        <button type="submit" class="btn btn-primary">SAVE</button>
        <%= link_to 'BACK', index_path, class:"btn btn-warning" %>
      <%end%>

    </div>

  </div>
</div>